langchain
langgraph
langchain-ollama
langchain-openai
langchain-google-genai
langchain-groq
pydantic
python-dotenv
langchain-unstructured
unstructured-client
langchain-community
unstructured
pdfminer-six
pi-heif
unstructured-inference
unstructured-pytesseract
networkx
matplotlib
fastapi[standard]
uvicorn
pandas
numpy
pinecone-client
regex
typing-extensions
python-multipart
requests
aiohttp
xgboost
shap
scikit-learn
rapidfuzz
python-dateutil
businessdate
nltk
rank_bm25
transformers>=4.34.0
torch>=2.0.0
bitsandbytes>=0.41.0
peft>=0.5.0
accelerate>=0.21.0
sentencepiece
dask
usearch
pymupdf
